<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Admin Panel</title>

    <!-- Font Awesome Icons -->

    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="<%= baseUrl %>/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />

    <link
      rel="stylesheet"
      href="<%= baseUrl %>/plugins/fontawesome-free/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="<%= baseUrl %>/dist/css/adminlte.min.css?v=3.2.0"
    />

<link rel="stylesheet"
      href="<%= baseUrl %>/plugins/summernote/summernote-bs4.min.css"/>
   
<link rel="icon" type="image/x-icon" href="<%= baseUrl %>/dist/img/AdminLTELogo.png">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

</body>
</html>
